.header
{
  font-weight: bold;
  padding: 10px;
  text-align: center;
  padding-bottom: 30px;
  border: 1px;
  border-style: solid;
}

.lambo
{
  font-weight: bold;
}

#lambolist
{
  font-weight: normal;
  color: green;
}

#lambolist2
{
  font-weight:normal;
  color: red;
}

body
{
  background-color: lightgrey;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: white;
  }
}

h2 + p
{
   padding:10px;
}

a[href*="twitter"]
{
  color: darkblue;
}
