$color: orange;
$bgcolor: lightgrey;
$spancolor: black;

%ulformat
{
  color: $color;
  padding: 20px;
}

body
{
  background-color: $bgcolor;
}

.container-fluid
{
  h2
  {
    color: $color;
  }
}

.extender
{
  @extend %ulformat;
  font-size: 18px;
  padding-left: 50px;
}

.spanli
{
  color: $spancolor;
}
